.kasa-collapse {
    width: 100%;
    height: 50px;
    background-color: #FF6060;
    border-radius: 5px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 40px 0 0 0;
}

.kasa-collapse p {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 20px;
}

.kasa-collapse img {
    margin-right: 20px;
    transition: all 0.2s;
}

.reversed {
    transform: rotate(0.5turn);
}

.after-collapse {
    position: relative;
    background-color: #F7F7F7;
    border-radius: 10px;
    z-index: -1;
    margin-top: -10px;
    padding: 20px 0;
}

.kasa-collapselist .after-collapse p {
    margin: 15px 20px;
    font-weight: 400;
    font-size: 24px;
    color: #FF6060;
}

.second-part .after-collapse p {
    margin: 15px 20px;
    font-weight: 400;
    font-size: 18px;
    color: #FF6060;
}

.equipements-part .after-collapse p {
    margin-top: 10px;
    margin-bottom: 0;
}

@media screen and (max-width: 1000px) {

    .kasa-collapselist {
        width: 100%;
    }

    .second-part .kasa-collapse {
        height: 40px;
    }

}

@media screen and (max-width: 700px) {

    .kasa-collapse {
        height: 40px;
        margin: 20px 0 0 0;
    }

    .kasa-collapse p {
        font-size: 18px;
    }    

    .kasa-collapse img {
        width: 20px;
    }

    .kasa-collapselist .after-collapse p {
        font-size: 16px;
    }

    .after-collapse p, .second-part .after-collapse p {
        font-size: 12px;
    }

    .equipements-part .after-collapse p {
        margin-top: 5px;
    }

}

@media screen and (max-width: 500px) {

    .kasa-collapse, .second-part .kasa-collapse {
        height: 30px;
    }

    .kasa-collapse p {
        font-size: 13px;
        margin-left: 15px;
    }    

    .kasa-collapse img {
        width: 15px;
    }

    .kasa-collapselist .after-collapse p {
        font-size: 12px;
    }
}